# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
env/

# Distribution / packaging
build/
dist/
*.egg-info/
**/build/
**/dist/
**/node_modules/

# IDEs
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Logs
*.log

# Pytest cache
.pytest_cache/

# Misc
secrets.json
debug_screen.png
test/
tower_climber_test/
Game_screenshotReed_Autowork/webapp/frontend/test/
